{% autoescape false %}
<!DOCTYPE html>
<head>
    <title>{% block title 'Roba tu Dinero - Web de memoria historica de casos de corrupción en España' %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    {% block GA %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-56339924-1', 'auto');
            ga('send', 'pageview');

        </script>
    {% endblock GA %}


    {% block includesHeader %}
        <!-- Jquery Library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

        <!-- Bootstrap JS -->
        <script src="{{ asset('bundles/web/js/bootstrap.min.js') }}"></script>

        <!-- Jquery UI -->
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>


        <!-- CSS Stylesheets -->
        <link rel="stylesheet" href="{{ asset('bundles/web/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/web/css/styles.css') }}" type="text/css" media="all"/>
        <link rel="stylesheet" href="{{ asset('bundles/web/css/fonts.css') }}" type="text/css" media="all"/>

    {% endblock includesHeader %}

</head>

<body>
    <div class="navbar-wrapper">
        <div class="container">
            <h1><a href="/">roba<em>tu</em>dinero</a></h1>

            {% block navMenu %}
                <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <!--a class="navbar-brand" href="#">Project name</a-->
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li id="menuHome"><a href="/" title="Portada de Roba tu Dinero">Portada</a></li>
                                <li id="menuQuien"><a href="/quien" title="Listado completo de corruptos">Quién Roba tu Dinero</a></li>
                                <li id="menuContacto"><a href="/contacto" title="Contacta con nosotros">Contacto</a></li>
                            </ul>

                            <ul class="nav navbar-nav navbar-right btn-social">
                                <li><a href="https://www.facebook.com/RobatuDinerocom/" target="_blank" title="Síguenos en Facebook" class="btn-fb"></a></li>
                                <li><a href="https://twitter.com/robatudinero" target="_blank" title="Síguenos en Twitter" class="btn-tw"></a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            {% endblock navMenu %}

            {% block bigImage %}{% endblock bigImage %}

            {% block bread_crumbs %}{% endblock bread_crumbs %}

            {% block content %}{% endblock content %}

            {% block jsExtras %}
            {% endblock jsExtras %}

        </div>


    </div>

    {% block footer %}
        <div class="footer">
            <div class="container">
                <ul>
                    <li><a href="/quien" title="Listado completo de corruptos">Quién Roba tu Dinero</a></li>
                    <li><a href="/contacto" title="Contacta con nosotros">Contacto</a></li>
                    <li><a href="/condiciones" title="Términos y condiciones">Términos y condiciones</a></li>
                </ul>
                <p class="text-muted">
                    <a href="http://www.robatudinero.com">roba<em>tu</em>dinero</a>
                </p>
            </div>
        </div>
    {% endblock footer %}

</body>

</html>
{% endautoescape %}